<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <p *ngIf="status != 'success'">Regístrate en nuestra plataformas para crear nuevas entradas y mucho más!! xD</p>
    
    <div class="alert alert-success col-md-5" *ngIf="status == 'success'">
        El registro se ha completado correctamente <a [routerLink]="['/login']" >Logeate aquí</a>
    </div>
    
    <div class="alert alert-dager col-md-5" *ngIf="status == 'error'">
        El registro no se ha completado correctamente, vuelve a intentarlo más tarde.
    </div>

    <!--Formulario de registro-->
    <form action="" class="col-md-5 ml-0 pl-0" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="user.name"
            required pattern="[a-zA-Z]+">
            
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                El nombre no es válido
            </small>
        </div>

        <div class="form-group">
            <label for="surname">Apellidos</label>
            <input class="form-control" type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname"
            required pattern="[a-zA-Z]+">

            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                Los apellidos no son válidos
            </small>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="user.email"
            required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                El correo no es válido
            </small>
        </div>

        <div class="form-group">
            <label for="password">Contraseña</label>
            <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required>

            <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                La contraseña no es válida
            </small>
        </div>
        <input type="submit" value="Registrarme" class="btn btn-success" [disabled]="registerForm.invalid"/>
    </form>

</div>

