<div class="card-columns">
    <article class="card w-100" *ngFor="let post of posts">
        <div class="card-header">
            <h3>
                <a [routerLink]="['/entrada',post.id]">{{post.title}}</a>
            </h3>
        </div>
        <div class="card-body">
            <!--Imagen-->
            <div class="post-image w-100" *ngIf="post.image">
                <img src="{{url+'post/image/'+post.image}}" class="w-100">
            </div>
            <div class="post-image w-100" *ngIf="!post.image || post.image==null">
                <img src="assets/images/default_picture.jpg" class="w-100">
            </div>
            <!--Botones de accion-->
            <div class="post-buttons mt-3">
                <a [routerLink]="['/entrada', post.id]" class="btn btn-success mr-2">Leer</a>
                <span *ngIf="identity && identity.sub==post.user_id">
                    <a [routerLink]="['/editar-entrada',post.id]" class="btn btn-warning mr-2">Editar</a>
                    <!--modal-borrar-entrada-->
                    <button type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#modal'+post.id">
                        Borrar
                    </button>
                      
                    <div class="modal fade" id="{{ 'modal' +post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">¿Seguro que quieres borrar esta entrada?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Vas a borrar definitivamente <b>{{post.title}}</b>
                                </div>
                                <div class="modal-footer">
                                    <a (click)="deletePost(post.id)" class="btn btn-danger text-white" data-dismiss="modal">Borrar</a>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </span>

            </div>
        </div>
    </article>
</div>