<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <p *ngIf="status != 'success'">
        Crea una nueva cateogía para el blog
    </p>
    <hr>

    <div class="alert alert-success col-md-5" *ngIf="status == 'success'">
        La categoría se a creado correctamente <a [routerLink]="['/login']" >Logeate aquí</a>
    </div>
    
    <div class="alert alert-dager col-md-5" *ngIf="status == 'error'">
        La categoría no se ha guardado, vuelve a intentarlo más tarde.
    </div>


    <!--Formulario de crear categoria-->
    <form class="col-md-5" #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)" >
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="" class="form-control" #name="ngModel" [(ngModel)]="category.name" required>
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                El nombre de la categoría no es válido
            </small>
        </div>
        <input type="submit" value="Guardar" class="btn btn-success" [disabled]="categoryForm.invalid">
    </form>
    <br>
</div>

