<div class="col-md-12" *ngIf="!post">
    Cargando...
</div>
<div class="col-md-12 mt-3 d-block" *ngIf="post">
    <h1>{{post.title}}</h1>
    <p>{{post.category.name}} - 
        <a [routerLink]="['/perfil', post.user.id]">{{post.user.name + post.user.surname}}</a>
    </p>
    <hr>
    <div class="post-detail-image w-100" *ngIf="post.image">
        <img src="{{url+'post/image/'+post.image}}" class="w-100">
    </div>
    <div [innerHTML]="post.content"></div>
    
</div>
