<div class="loading" *ngIf="!posts && !empty_post">Cargando...</div>
<div class="container-fluid mt-3" *ngIf="user">
    <div class="user-card">
        <div class="avatar_mask_profile float-left mr-3">
            <img src="{{url+'user/avatar'}}/{{identity.image}}" class="avatar_nav">
        </div>
        <div class="data_mask float-left mt-4">
            <h1>
                {{ user.name + ' ' + user.surname }}
            </h1>
        </div>
        <div class="clearfix"></div>
        <div class="container-fluid mt-3">
            <p [innerHTML]="user.description"></p>
        </div>
    </div>
    <hr>
</div>
<div class="container-fluid mt-3" *ngIf="empty_post">
    Aún no hay posts subidos.
</div>
<div class="container-fluid mt-3" *ngIf="posts && !empty_post">
    <!--Listado de entradas-->
    <post-list 
        [posts]="posts" 
        [identity]="identity" 
        [url]="url"
        [deletePost]="deletePost"
    >
    </post-list>
</div>

