<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <p *ngIf="is_edit && post"> Modifica el post <b>{{post.title}}</b></p>
    <p>Añade un nuevo artículo a tu blog</p>
    <hr>

    <!--Mensajes de alerta-->
    <div class="alert alert-success col-md-5" *ngIf="status == 'success'">
        Los datos se ha guardado correctamente.
    </div>
    
    <div class="alert alert-danger col-md-5" *ngIf="status == 'error'">
        Los datos no se han guardado, vuelve a intentarlo más tarde.
    </div>

    <!--Formulario de registro-->
    <form class="col-md-5 ml-0 pl-0" (ngSubmit)="onSubmit(postNew)" #postNew="ngForm">
        <div class="form-group">
            <label for="title">Título</label>
            <input type="text" name="title" #title="ngModel" 
                [(ngModel)]="post.title" class="form-control" required>
                <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">
                    El título no es válido
                </small>
        </div>
        <div class="form-group">
            <label for="content">Contenido</label>
            <textarea [froalaEditor]="froala_options" name="content" #content="ngModel" 
                [(ngModel)]="post.content" cols="30" rows="50" required>
            </textarea>

            <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
                Es importante que tu artículo contenga información qué compartir.
            </small>
        </div>
        <div class="form-group">
            <label for="category_id">Categoría</label>
            <select name="categori_id" #category="ngModel" [(ngModel)]="post.category_id" class="form-control">
                <option value="{{category.id}}" *ngFor="let category of categories">
                    {{category.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="image">Imagen</label>
            <div *ngIf="is_edit && post.image" class="">
                <img src="{{url+'post/image/'+post.image}}" class="w-100">
            </div>
            <angular-file-uploader
                [config]="afuConfig"
                [resetUpload]=resetVar
                (ApiResponse)="imageUpload($event)"
            ></angular-file-uploader>
        </div>

        <input type="submit" value="Guardar" class="btn btn-success" [disabled]="postNew.invalid" />
    </form>
    
    <br>
</div>

