/* You can add global styles to this file, and also import other style files */

.avatar_edit{
    width: 80px;
    margin-bottom: 10px;
    border: 0.5px solid gray;
    border-radius: 10px;
}

.avatar_nav{
    height: 52px;
}
.avatar_mask{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 900px;
    border: 1px solid gray;
    background: white;
}
.avatar_mask_profile{
    width: 95px;
    height: 95px;
    overflow: hidden;
    border-radius: 900px;
    border: 1px solid gray;
    background: white;
}
.avatar_mask_profile img{
    height: 100px;
}
.card-header a{
    color: #444;
}
.card-header a:hover{
    color: rgb(26, 25, 25);
}
.post-image{
    height: 200px;
    overflow: hidden;
}
.post-detail-image img{
    max-height: 600px;
    max-width: 400;
}

footer{
    color: lightgray;
}
