<div class="loading" *ngIf="!category">Cargando...</div>
<div class="container-fluid mt-3" *ngIf="category">

    <h1>{{category.name}}</h1>
    <hr>
    <div class="loading" *ngIf="!posts">Cargando listado...</div>
    <div class="alert alert-warning" *ngIf="posts && posts.length==0">
        No hay entradas que mostrar en esta categoría
    </div>

    <!--Listado de entradas-->
    <post-list 
        *ngIf="posts && posts.length>=1"
        [posts]="posts" 
        [identity]="identity" 
        [url]="url"
        [deletePost]="deletePost"
    >
    </post-list>

</div>


